<% @places.each do |place| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1"> 
	  <h1><%= link_to place.name, place_path(place) %></h1>
	  <br />
	  <i><%= place.address %></i><br /><br />
	  <p><%= place.description %></p><br />
	  <% if place.photos.last.present? && place.photos.last.picture.present? %>
	  <div class="photoframe col-xs-12 col-sm-6">
	  <p><%= image_tag place.photos.last.picture %></p>
	  </div>
	  <% end %>

	  <% if place.user.present? %>
	    <small><%= place.user.email %></small>
	    <% end %>
	  <% if place.comments.present? %>
	  <div class="col-xs-12 col-sm-6">
  		<blockquote>
    	  <% if place.comments.first.humanized_rating.present? %>
      		<b><%= place.comments.first.humanized_rating %></b> -
    	  <% end %>
          <%= place.comments.first.message %>
          <small><%= place.comments.first.user.email %></small>
  	    </blockquote>
	</div>
	<% end %>
  </div>
<% end %>