<div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="map-title">
  <h1>Monterey Locations |<small> Treasure Map</small></h1>
  <br/>
  </div>

<!-- google maps showing all markers on a single map -->
<script>
function initMap() {
  var markers = [];
  <% @places.each do |place| %>
  <% if place.latitude.present? && place.longitude.present? %>
      markers.push({name: "<%= place.name %>", url: "<%= place_path(place) %>", id: '<%=place.id %>', location: {lat: <%= place.latitude %>, lng: <%= place.longitude %>}});

    <% end %>
  <% end %>
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: 36.4799, lng: -121.7328}
  });

  var addMarkerToMap = function (element, index, array) {  
    var marker = new google.maps.Marker({
      position: element.location,
      map: map,
      title: element.name,
      id: element.id,
      url: '<a href="/places/' + element.id + '">' + element.name + '</a><br/>'
    });

  var contentString = '<div id="content">'+
    '<b>' + marker.url + '</b>' + 
    '</div>'
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

    google.maps.event.addListener(marker, 'click', function() { 
       console.log("I have been clicked");
       infowindow.open(map, this);
    }); 
    return marker;
  };
  markers.forEach(addMarkerToMap); 
}
</script>

     <script async defer
         src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>   
 <div id="map"></div>

</div>
<br class="clr" />
<br/>
</div>

<div class="map-page-text col-xs-8 col-xs-offset-2"> 

<h2>Where will you explore next?</h2>
<br/>
<br/>
  <p>
  With stunning coastlines and sweeping vistas, world-class golf courses, and gourmet cuisine-- there's no shortage of things to do. Don't forget to check out some of these hidden gems along the way. Need a sandwich for your hike? A fun and relaxing bar to play a game of darts? We'll help you find what you need.
    </p>
  <br/>
  <p>
  And if you don't see your place here or there's place that you'd like to add, contribute to Gemster and <%= link_to 'create a new place', new_place_path %>.
</p>
</div> 

<br class="clr" />
<div class="clear"/> </div><!-- pushes footer to bottom -->

